@model IEnumerable<esp.Models.JobsViewModel>


@foreach (var gr in Model)
{
   <h3 class="titres">@gr.JobTitle</h3> 
   <table  style="margin-top:15px" class="table table-striped table-bordered table-hover">
       <tr>
           <th>
              Researcher Name
           </th>
           <th>
               Text message
           </th>
           <th>
               Date
           </th>
       </tr>
       @foreach (var item in gr.Items) {
       <tr>
           <td>
               @item.user.UserName
           </td>
           <td>
               @item.Message
           </td>
           <td>
               @item.ApplyDate
           </td>
       </tr>

       }


   </table>


}
