
.navbar-default {
    background-color :black;
    border-color: #e5e5e5;
   

}
.navbar-default .navbar-nav>li>a {
    color :white;
    font-size:17px;
    font-family : Arial;
}
.navbar-default .navbar-nav>li>a:hover {
    color :azure;
    
 
}
body {
    padding-top:67px;
    font-family:Arial;
}

.nav>li{
    position : relative;
    display : block;
    height : 75px;
    padding-top : 10px;
}
.myfooter{
    background-color : #E0E0E0;
    padding : 10px;
    font-family :  Arial, Helvetica, sans-serif;
    text-align : justify;
    height:205px;
     bottom: 0;
     position: relative;
   
    
    
}
.myfooter a{
    color : black;
}
.myfooter h3 ul{
    font-family: Arial;
    margin-bottom: 20px;
    
}
.subfooter{
    background-color : black;
    color : white;
    padding : 10px;
    font-size:17px;
    
    

   text-align : center;
}

.connexion {
   text-align:center;
   margin-top:50px;
   color:#0c5c82;
   font-size:50px;
   font-family:Arial;
}
/*
   Les titres (h1)
 */
.titres{
   font-family:Arial;
   font-size:50px;
   color:dimgray;
   text-align:center;
   margin-top:50px;

}
/*
    designe of table jobs 

*/
.main-table tr:first-child th {
    background-color:#333;
    color:#FFF;
}
.main-table td {
   background-color:#FFF;   
   vertical-align:middle !important;
}
.main-table th {
 
   vertical-align:middle !important;
}
.main-table #btn {
    padding:3px 10px;
}

#detail {
    margin-top:5px;
    padding:3px 10px;
}
#save{
    width:200px;
}
#edit-detail {
   width:120px;
}
/*
     designe of details

*/

.detail-designe {
   font-family:Arial;
   color:black;
   font-size:22px;
}
.detail-info {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color:#52697c;
   font-size:22px;
}

/*  btn sign in */
#buttons{
    font-size:16px;
   padding: 10px 24px;
   border-radius: 4px;
   
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.panels{
    background-color:black;
}
#searchName {
    width: 190px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-top:10px;
   transition:width 0.4s ease-in-out;
}
#searchName:focus{
    width:100%;

}
.img-size {

  font-size:90px;
}
.navbar-user {
   padding:10px;
   padding-bottom:0px;

}
.menu {
  position:relative;
}
.submenu {
  position:absolute;
  top:60px;
  left : 0;
  width:240px;
  background-color:#FFF;
  padding:10px;
  box-shadow:0 1px 1px rgba(0,0,0,.5);
  display:none;
}
    .submenu li {
     padding:10px;
    }
        .submenu li a {
            color: black;
            text-decoration: none;
        }
        .submenu li a:hover {
           
        }
    .submenu:before {
     content :"";
     border-left:6px solid transparent;
     border-right:6px solid transparent;
     border-bottom:6px solid #FFF;
     height:0;
     width:0;
     position:absolute;
     left:20px;
     top:-6px;
    }
.menu:hover .submenu {
  display:block;
  background-color:white;
}
.mydiv:hover {
    transform:scale(1.0);
    height:35px;
    background-color:green;


}











        
         
















